<div class="container" *ngIf="projects; else notFound">
    <div class="row m-2">
        <div class="col-12">
            <input type="text" placeholder="Aranacak proje" class="form-control" [(ngModel)]="searchKey" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-3" *ngFor="let project of projects | search : searchKey ">
            <app-project [currentProject]="project"></app-project>

        </div>
    </div>
</div>

<ng-template #notFound>
    <div class="alert alert-danger">
        <p>Proje API'den getirilemedi</p>
    </div>
</ng-template>